<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>Parcial 2</title>
    <link rel="stylesheet" href="public/css/main.css" />
</head>
<body class="is-preload homepage">
<div id="page-wrapper">
    <!-- Header -->
    <div id="header-wrapper">
        <header id="header" class="container">

            <!-- Logo -->
            <div id="logo">
                <h1><a href="index.html">Parcial 2</a></h1>
                <span>por Samir Comprés</span>
            </div>

            <!-- Nav -->
            <nav id="nav">
                <ul>
                    <li class="current"><a href="/">INICIO</a></li>
                </ul>
            </nav>

        </header>
    </div>

    <!-- Banner -->
    <div id="banner-wrapper">
        <div id="banner" class="box container">
            <div class="content">
                <p><strong>ENCUESTA:</strong> Introduzca los datos siguientes, sin dejar campos vacíos.</p>
                <form>
                    <input type="text" style="display: none" name = "ip" id = "ip"/>
                    <div class="fields" style="margin-top: 5%;">
                        <div class="field half" style="margin-bottom: 1%">
                            <input type="text" name="nombre" id="nombre" placeholder="Nombre">
                        </div>
                        <div class="field half" style="margin-bottom: 1%">
                            <input type="text" name="sector" id="sector" placeholder="Sector">
                        </div>
                        <div class="field half" style="margin-bottom: 1%">
                            <select name="nivel_escolar" id="nivel_escolar">
                                <option value="none" selected disabled hidden>Nivel Escolar</option>
                                <option value="Básico">Básico</option>
                                <option value="Medio">Medio</option>
                                <option value="Universitario">Grado Universitario</option>
                                <option value="Postgrado">Postgrado</option>
                                <option value="Doctorado">Doctorado</option>
                            </select>
                        </div>
                    </div>
                </form>
                <button id="enviarBtn" class="button primary" style="margin-top: 5%;">ENVIAR</button>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div id="footer-wrapper" style="padding: 0">
        <footer id="footer" class="container">
            <div class="row">
                <div class="col-12">
                    <div id="copyright">
                        <ul class="menu">
                            <li>&copy; Parcial 2. Programación Web</li><li><a href="https://github.com/samirant15/PWebParcial2">Samir Comprés</a> 2015-0798</li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>

</div>

<!-- Scripts -->

<script src="public/js/jquery.min.js"></script>
<script src="public/js/jquery.dropotron.min.js"></script>
<script src="public/js/browser.min.js"></script>
<script src="public/js/breakpoints.min.js"></script>
<script src="public/js/util.js"></script>
<script src="public/js/main.js"></script>
<script>
    $(document).ready (function () {

        $.get("https://api.ipify.org?format=json",
            function (data) {
                console.log(data)
                $("#ip").val(data.ip);
            });
        $("#enviarBtn").click(function(){
            if(navigator.onLine == true){
                let ip = $("#ip").val() == "" ? " " : $("#ip").val()
                $.post( "/encuesta", {nombre: $('#nombre').val(), sector: $('#sector').val(), nivel_escolar: $("#nivel_escolar").val(), ip: ip}, function() {

                })
                .done(function() {
                    if (window.confirm('Gracias por llenar su encuesta!\nDesea ver las encuestas subidas?'))
                        window.location = '/ver';
                    else
                        window.location = '/';
                })
                .fail(function(err) {
                    console.log(err)
                    alert( "Error de conexión, la encuesta se guardará local" );
                })
            }else{
                let params = {nombre: $('#nombre').val(), sector: $('#sector').val(), nivel_escolar: $("#nivel_escolar").val(), ip: $("#ip").val()}
                navigator.serviceWorker.controller.postMessage(params);
                alert( "Error de conexión, la encuesta se guardará local" );
                window.location = '/';
            }
        });
    });
</script>
<script>
    if('serviceWorker' in navigator) {
        navigator.serviceWorker
            .register('sw.js')
            .then(function() { console.log("Service Worker Registered"); });
    }
</script>
</body>
</html>