<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Parcial 2</title>
    <link rel="stylesheet" href="public/css/main.css" />
    <link rel="stylesheet" href="public/css/all.css" />
</head>
<body class="is-preload homepage">
<div id="page-wrapper">

    <!-- Header -->
    <div id="header-wrapper">
        <header id="header" class="container">

            <!-- Logo -->
            <div id="logo">
                <h1><a href="index.html">Parcial 2</a></h1>
                <span>por Samir Comprés</span>
            </div>

            <!-- Nav -->
            <nav id="nav">
                <ul>
                    <li class="current"><a href="index.html">LOG IN</a></li>
                </ul>
            </nav>

        </header>
    </div>
    <!-- Banner -->
    <div id="banner-wrapper">
        <div id="banner" class="box container">
            <h3 id="status" style="width: fit-content;color: white;background-color: green;border-radius: 10px;padding: 5px;"></h3>
            <div class="row">
                <div class="col-7 col-12-medium">
                    <h2>Encuestas Sociales</h2>
                    <p>Encuestas sociales a la población de la zona norte del país</p>
                </div>
                <div class="col-5 col-12-medium">
                    <ul>
                        <li><a href="/encuesta" class="button large icon fa-arrow-circle-right">Llenar Encuesta</a></li>
                        <li><a href="#" class="button alt large icon fa-question-circle">LOG IN</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="pendientes" style="color: red;"></div>

    <!-- Footer -->
    <div id="footer-wrapper">
        <footer id="footer" class="container">
            <div class="row">
                <div class="col-12">
                    <div id="copyright">
                        <ul class="menu">
                            <li>&copy; Parcial 2. Programación Web</li><li><a href="https://github.com/samirant15/PWebParcial2">Samir Comprés</a> 2015-0798</li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>

</div>

<!-- Scripts -->

<script src="public/js/jquery.min.js"></script>
<script src="public/js/jquery.dropotron.min.js"></script>
<script src="public/js/browser.min.js"></script>
<script src="public/js/breakpoints.min.js"></script>
<script src="public/js/util.js"></script>
<script src="public/js/main.js"></script>
<script src="sw.js"></script>
<script>
    if('serviceWorker' in navigator) {
        navigator.serviceWorker
            .register('sw.js')
            .then(function() { console.log("Service Worker Registered"); });
    }
</script>
</body>
</html>